.body {
      width :1280px ;
      margin:0px;
      padding:0px; 
      text-align:center;
      }

.topbar {
      width:1280px;
      height:50px;
      text-align:right;
      }

table {
      text-align:center;
      }

.topimage {
      height: 500px;
      width: 1280px;
      background-image:url(200123_0380 3.JPG);
      background-size: cover;
      background-position: center;
      }

.topimage h1{
      float:left;
      padding:30px;
      color:#ffffff;
      }

.box-1 {
      width :1280px ;
      text-align:center;
      }

.box-2 {
      width :1280px ;
      text-align:center;
      }

.box-3 {
      width :1280px ;
      text-align:center;
      }

li{
list-style:none;
float:right;
padding:10px;
}

