.body {
      width :1980px ;
      margin:auto; 
      text-align:center;
      }

.topbar {
      width:1280px;
      height:50px;
      text-align:right;
      margin:auto; 
      }

table {
      text-align:center;
      margin:auto; 
      }

.topimage {
      height: 500px;
      width: 1980px;
      background-image:url(topimage.jpg);
      background-size: cover;
      background-position: center;
      margin:auto; 
      }

.topimage h1{
      float:left;
      padding:120px 3px;
      color:#ffffff;
      margin:auto; 
      }

.box-1 {
      width :1280px ;
      height:300px ;
      text-align:center;
      margin:auto; 
      }

.box-2 {
      width :1280px ;
      text-align:center;
      margin:auto; 
      }

.box-3 {
      width :1280px ;
      text-align:center;
      margin:auto; 
      }

li{
list-style:none;
float:right;
padding:10px;
      margin:auto; 
}

.flex {
  display: flex;
  margin:auto; 
}
.flex .image {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.flex .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.flex .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}
.flex .text {
  margin: 10px 0 0;
  padding: 0;
}
