* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.top {
  width:1200px;
  background-image: url('200123_0380 3.JPG');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url('200123_0380 3.JPG');
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content
